@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --cor01:#00856F;
    --cor02:#DCE9E2;
    --cor03:#F7F9F9;
    --cor04:#FFFAF1;
    --cor05:#3E3E3E;
    --cor06:#00453A;
    --cor07:#061800;
    --cor08:#384633;
    --cor09:#212529;
    --cor10:#495057;

    --fonte-padrão: 'DM Sans', cursive;

    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: var(--fonte-padrão);
    font-size: 1.6rem;

    text-align: center;
}

h4 {
    font-size: 1.4rem;
    color: #00856F;
}

h1 {
    font-size: 3.4rem;
    color: var(--cor09);
}

p {
    font-size: 1.8rem;
    color: var(--cor10);
}
